<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author Eng.Asma Hawari
  ~  * @package CodaTrip_RequestBook
  ~  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="request" frontName="request">
            <module name="CodaTrip_RequestBook" />
        </route>
    </router>
</config>
