<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author Eng.Asma Hawari
  ~  * @package CodaTrip_RequestBook
  ~  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codaTrip" translate="label" sortOrder="400">
            <label>CodaTrip</label>
        </tab>
        <section id="request_book" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>codaTrip</tab>
            <label>request A Book</label>
            <resource>CodaTrip_RequestBook::request_config</resource>
            <group id="request_book_form" translate="label" type="text" sortOrder="100   " showInDefault="1">
                <label>request A Book Form</label>
                <field id="recipient_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Emails To</label>
                    <validate>validate-email</validate>
                </field>
                <field id="sender_email_identity" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="request_book_email" translate="label comment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Request a book Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
